@import './../normalize.css';

.container-about {
    height: 100vh;
    display: flex;
    padding: 4%;
}

.left,
.right {
    flex: 45%;
}

.container-about .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-about .right h1 {
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 5px;
}

.container-about .right h1 span {
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 5px;
    color: var(--sec);
}

.container-about .right p {
    text-align: justify;
    margin: 30px 0;
}

.container-about .right p span {
    color: var(--sec);
}

/* 
.right .about-midias{
    margin-top: 50px ;
} */

.container-about .right .about-midias ul {
    display: flex;
    justify-content: flex-end;
}

.container-about .right .about-midias ul li {
    margin-left: 15px;
}

.container-about .right .about-midias ul li a i {
    font-size: 30px;
    padding: 7px 14px;
    border-radius: 50%;
    transition: 0.3s;
}

.container-about .right .about-midias ul li a i.bi-youtube {
    background-color: #ff0000;
}

.container-about .right .about-midias ul li a i.bi-facebook {
    background-color: #006eff;
}

.container-about .right .about-midias ul li a i.bi-instagram {
    background-color: #bf1c9b;
}

.container-about .right .about-midias ul li a i.bi-youtube:hover {
    background-color: #e20000;
}

.container-about .right .about-midias ul li a i.bi-facebook:hover {
    background-color: #0055c5;
}

.container-about .right .about-midias ul li a i.bi-instagram:hover {
    background-color: #af0089;
}

.container-about .left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
}



















.container-about-card {
    height: 100vh;
    padding: 4%;
}

.container-about-card h1 {
    text-align: center;
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 5px;
}

.container-about-card h1 span {
    font-family: 'BankGothic Md BT', sans-serif;
    color: var(--sec);
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 5px;
}

.slider-container {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 33.333%;
    /* Mostrar 3 slides no desktop */
    box-sizing: border-box;
    padding: 0 10px;
}

.card {
    background-color: #ffbb00;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* Faz com que os cards tenham a mesma altura */
}

.card img {
    width: 100%;
    height: 300px;
    max-width: 200px;
    /* Limitar o tamanho máximo da imagem */
    aspect-ratio: 1 / 1;
    /* Manter proporção quadrada */
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto;
    /* Centralizar a imagem */
    border: 2px solid #1c1c1c;
}

.card h2 {
    font-size: 24px;
    color: #1c1c1c;
    margin: 15px 0 10px;
    word-wrap: break-word;
    font-weight: 700;
}

.card p {
    color: #1c1c1c;
    margin-top: auto;
    /* Alinha os parágrafos no final do card */
    margin-bottom: 10px;
    /* Espaço embaixo dos textos */
    word-wrap: break-word;
    /* Permite quebra de linha no texto */
    font-size: 20px;
    letter-spacing: 1px;
}

/* Botões de navegação */
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
    border-radius: 0 20px 20px 0;

}

button.next {
    right: 10px;
    border-radius: 20px 0 0 20px;

}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Bolinhas indicadoras */
.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: var(--clr-hero);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: var(--sec);
}






.container-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 4% 0;
    flex-direction: column;
    margin: 200px 0 0;
}

.container-servicos h1 {
    text-align: center;
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 5px;
}

.servicos-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;

}

.servico-card {
    background-color: var(--sec);
    /* Cor de fundo do card */
    border: 2px solid var(--pri);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    height: 180px;
    /* Altura reduzida */
    cursor: pointer;
}

.servico-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.servico-icon i {
    font-size: 28px;
    color: var(--bg-hero);
    /* Cor do ícone */
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    font-size: 18px;
    /* Aumentado */
    color: var(--bg-hero);
    /* Cor do título */
    margin-bottom: 8px;
    /* Ajustado */
    text-transform: uppercase;
    letter-spacing: 1px;
    /* Aumentado */
}

.servico-resumo {
    font-size: 14px;
    /* Aumentado */
    color: var(--bg-hero);
    /* Cor do resumo */
    margin-bottom: 15px;
    /* Ajustado */
    letter-spacing: 1px;
    /* Aumentado */
}

.servico-hover {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: var(--sec);
    padding: 10px;
    /* Reduzido */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.servico-card:hover .servico-hover {
    display: block;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.servico-card:hover .servico-resumo,
.servico-card:hover h3,
.servico-card:hover .servico-icon {
    display: none;
}

.servico-hover p {
    font-size: 15px;
    /* Aumentado */
    color: var(--bg-hero);
    line-height: 1.5;
    /* Ajustado */
    word-wrap: break-word;
    letter-spacing: 0.5px;
    /* Ajustado */
    margin-top: 10px;
}



.container-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;

}

.container-vid video {
    border: 2px solid var(--sec);
    border-radius: 15px;
}








iframe {
    height: 300px;
    margin: 2% 0; 
}

.container-contato {
    padding: 4%;
}

.container-contato h1 {
    text-align: center;
    font-family: 'BankGothic Md BT', sans-serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 5px;
    margin-bottom: 2%;
}



.container-contato .content-contato {
    display: flex;
    flex-flow: row wrap;
}

.container-contato .content-contato .left,
.right {
    margin: 3% 0;
    flex: 45%;
}

